<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>
    <title>Mad Lib Generator</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="./js/index.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>

<body ng-app="MadLib">
    <div ng-controller="MainCtrl">
        <h1>MadLibs!</h1>
        <p>Please input the correct words into the correct fields</p>
        <input type="text" ng-model="First" placeholder="First Name">
        <input type="text" ng-model="Last" placeholder="Last Name">
        <input type="text" ng-model="Place" placeholder="Place">
        <br>
        <input type="text" ng-model="Verb1" placeholder="Past (smelled)">
        <input type="text" ng-model="Verb2" placeholder="Past (took)">
        <input type="text" ng-model="Verb3" placeholder="Present (implode)"> 
        <input type="text" ng-model="Verb4" placeholder="Present Participle (walking)"> 
        <input type="text" ng-model="Verb5" placeholder="Past (threw)"> 
        <br>
        <input type="text" ng-model="Noun1" placeholder="cheese nip"> 
        <input type="text" ng-model="Noun2" placeholder="hurricane"> 
        <input type="text" ng-model="Noun3" placeholder="tortoise"> 
        <input type="text" ng-model="Noun4" placeholder="man bun"> 
        <input type="text" ng-model="Noun5" placeholder="violin"> 
        <br><br>
        <button id=submit ng-click='generateStory()'>Ready!</button>
        <h2>Your Personalized Mad Lib</h2> <br>
        <p id=intro >
            {{intro}}
        </p>
        <p id=body >
            {{story}}
        </p>
    </div>


</body>

</html>
